# Exploratory Data Analysis

The goal of this project is to evaluate the impact of different first-order discount levels on new user purchase behavior. We will simulate a controlled A/B test with four discount groups and analyze first-order GMV (Gross Merchandise Value). This notebook focuses on exploratory data analysis (EDA), cleaning, and preparing the dataset for A/B test analysis.

In [3]:
# Core libraries
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

## Data Loading & Inspection

In [6]:
# Load raw order history
df = pd.read_csv('/Users/Cathaml/Desktop/order_history_kaggle_data.csv', header=0)

# Preview
display(df.head())

# Data summary
df.info()
df.describe()

,Restaurant ID,Restaurant name,Subzone,City,Order ID,Order Placed At,Order Status,Delivery,Distance,Items in order,Instructions,Discount construct,Bill subtotal,Packaging charges,Restaurant discount (Promo),"Restaurant discount (Flat offs, Freebies & others)",Gold discount,Brand pack discount,Total,Rating,Review,Cancellation / Rejection reason,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes),Order Ready Marked,Customer complaint tag,Customer ID
0,20320607,Swaad,Sector 4,Delhi NCR,6168884918,"11:38 PM, September 10 2024",Delivered,Zomato Delivery,3km,"1 x Grilled Chicken Jamaican Tender, 1 x Grill...",NaN,40% off upto Rs.80,715.0,31.75,80.0,0.0,0.0,0.0,666.75,NaN,NaN,NaN,NaN,NaN,18.35,11.6,Correctly,NaN,5d6c2b96db963098bc69768bea504c8bf46106a8a5178e...
1,20320607,Swaad,Sector 4,Delhi NCR,6170707559,"11:34 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Peri Peri Fries, 1 x Fried Chicken Angara ...",NaN,Flat Rs.175 off,1179.0,50.20,175.0,0.0,0.0,0.0,1054.20,NaN,NaN,NaN,NaN,NaN,16.95,3.6,Correctly,NaN,0781815deb4a10a574e9fee4fa0b86b074d4a0b36175d5...
2,20320607,Swaad,Sector 4,Delhi NCR,6169375019,"03:52 PM, September 10 2024",Delivered,Zomato Delivery,<1km,1 x Bone in Peri Peri Grilled Chicken,NaN,40% off upto Rs.80,310.0,11.50,80.0,0.0,0.0,0.0,241.50,NaN,NaN,NaN,NaN,NaN,14.05,12.2,Correctly,NaN,f93362f5ce5382657482d164e368186bcec9c6225fd93d...
3,20320607,Swaad,Sector 4,Delhi NCR,6151677434,"03:45 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Fried Chicken Ghostbuster Tender, 1 x Anga...",NaN,40% off upto Rs.80,620.0,27.00,80.0,0.0,0.0,0.0,567.00,4.0,NaN,NaN,NaN,NaN,19.00,3.3,Correctly,NaN,1ed226d1b8a5f7acee12fc1d6676558330a3b2b742af5d...
4,20320607,Swaad,Sector 4,Delhi NCR,6167540897,"03:04 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Peri Peri Krispers, 1 x Fried Chicken Anga...",NaN,40% off upto Rs.80,584.0,25.20,80.0,0.0,0.0,0.0,529.20,NaN,NaN,NaN,NaN,NaN,15.97,1.0,Correctly,NaN,d21a2ac6ea06b31cc3288ab20c4ef2f292066c096f2c5f...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21321 entries, 0 to 21320
Data columns (total 29 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Restaurant ID                                       21321 non-null  int64
 1   Restaurant name                                     21321 non-null  object
 2   Subzone                                             21321 non-null  object
 3   City                                                21321 non-null  object
 4   Order ID                                            21321 non-null  int64
 5   Order Placed At                                     21321 non-null  object
 6   Order Status                                        21321 non-null  object
 7   Delivery                                            21321 non-null  object
 8   Distance                                            21321 non-null  object
 9   Items in order                                      21321 non-null  object
 10  Instructions                                        720 non-null    object
 11  Discount construct                                  15823 non-null  object
 12  Bill subtotal                                       21321 non-null  float64
 13  Packaging charges                                   21321 non-null  float64
 14  Restaurant discount (Promo)                         21321 non-null  float64
 15  Restaurant discount (Flat offs, Freebies & others)  21321 non-null  float64
 16  Gold discount                                       21321 non-null  float64
 17  Brand pack discount                                 21321 non-null  float64
 18  Total                                               21321 non-null  float64
 19  Rating                                              2491 non-null   float64
 20  Review                                              296 non-null    object
 21  Cancellation / Rejection reason                     186 non-null    object
 22  Restaurant compensation (Cancellation)              133 non-null    float64
 23  Restaurant penalty (Rejection)                      3 non-null      float64
 24  KPT duration (minutes)                              21026 non-null  float64
 25  Rider wait time (minutes)                           21153 non-null  float64
 26  Order Ready Marked                                  21321 non-null  object
 27  Customer complaint tag                              469 non-null    object
 28  Customer ID                                         21321 non-null  object
dtypes: float64(12), int64(2), object(15)
memory usage: 4.7+ MB

,Restaurant ID,Order ID,Bill subtotal,Packaging charges,Restaurant discount (Promo),"Restaurant discount (Flat offs, Freebies & others)",Gold discount,Brand pack discount,Total,Rating,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes)
count,2.132100e+04,2.132100e+04,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,2491.000000,133.000000,3.0,21026.000000,21153.000000
mean,2.074413e+07,6.354622e+09,750.076838,32.564592,65.091816,31.795058,0.099128,3.039324,682.616113,4.356885,356.409549,0.0,17.332960,4.825070
std,2.447193e+05,1.230263e+08,498.759428,22.235898,85.401604,131.487091,3.264261,17.070780,465.313977,1.181472,328.128240,0.0,6.283388,4.982591
min,2.032061e+07,6.086767e+09,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,52.500000,1.000000,83.580000,0.0,0.000000,0.100000
25%,2.063570e+07,6.250751e+09,459.000000,18.450000,0.000000,0.000000,0.000000,0.000000,387.450000,4.000000,191.950000,0.0,13.380000,1.000000
50%,2.065987e+07,6.357715e+09,629.000000,28.450000,80.000000,0.000000,0.000000,0.000000,597.450000,5.000000,272.580000,0.0,16.330000,3.100000
75%,2.088265e+07,6.456827e+09,899.000000,39.950000,100.000000,0.000000,0.000000,0.000000,837.900000,5.000000,397.840000,0.0,20.050000,7.400000
max,2.152306e+07,6.573392e+09,16080.000000,603.000000,4020.000000,7787.000000,280.100000,554.800000,12663.000000,5.000000,3236.980000,0.0,90.870000,73.800000

We are provided with 21,321 food delivery order records, across 11,607 unique customers. Each record includes order details such as date and time, customer ID, city, bill amount, and discounts applied. The data also contains additional fields on ratings, cancellations, and timings, which are not relevant for our first-order GMV analysis.

##  Missing Value Handling & Cleaning

To ensure data quality, we verified that three critical columns are complete: `Customer ID`, `Order Placed At`, and `Total`. These are essential for identifying first orders and calculating GMV. While several non-critical columns contain missing values—such as ratings, reviews, cancellation reasons, and operational timings—these are not required for the current A/B test scope.

In [8]:
# Check missing value counts
missing = df.isnull().sum().sort_values(ascending=False)
print(missing[missing > 0])

Restaurant penalty (Rejection)            21318
Restaurant compensation (Cancellation)    21188
Cancellation / Rejection reason           21135
Review                                    21025
Customer complaint tag                    20852
Instructions                              20601
Rating                                    18830
Discount construct                         5498
KPT duration (minutes)                      295
Rider wait time (minutes)                   168
dtype: int64

No rows needed to be dropped for missing values in required fields. The `Order Placed At` column was converted from string to datetime format for accurate time-based sorting.

In [9]:
# Drop rows missing critical fields
df = df.dropna(subset=['Customer ID', 'Order Placed At', 'Total'])

# Convert Order Placed At to datetime
df['Order Placed At'] = pd.to_datetime(df['Order Placed At'], format='%I:%M %p, %B %d %Y')

# Check after cleaning
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21321 entries, 0 to 21320
Data columns (total 29 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Restaurant ID                                       21321 non-null  int64
 1   Restaurant name                                     21321 non-null  object
 2   Subzone                                             21321 non-null  object
 3   City                                                21321 non-null  object
 4   Order ID                                            21321 non-null  int64
 5   Order Placed At                                     21321 non-null  datetime64[ns]
 6   Order Status                                        21321 non-null  object
 7   Delivery                                            21321 non-null  object
 8   Distance                                            21321 non-null  object
 9   Items in order                                      21321 non-null  object
 10  Instructions                                        720 non-null    object
 11  Discount construct                                  15823 non-null  object
 12  Bill subtotal                                       21321 non-null  float64
 13  Packaging charges                                   21321 non-null  float64
 14  Restaurant discount (Promo)                         21321 non-null  float64
 15  Restaurant discount (Flat offs, Freebies & others)  21321 non-null  float64
 16  Gold discount                                       21321 non-null  float64
 17  Brand pack discount                                 21321 non-null  float64
 18  Total                                               21321 non-null  float64
 19  Rating                                              2491 non-null   float64
 20  Review                                              296 non-null    object
 21  Cancellation / Rejection reason                     186 non-null    object
 22  Restaurant compensation (Cancellation)              133 non-null    float64
 23  Restaurant penalty (Rejection)                      3 non-null      float64
 24  KPT duration (minutes)                              21026 non-null  float64
 25  Rider wait time (minutes)                           21153 non-null  float64
 26  Order Ready Marked                                  21321 non-null  object
 27  Customer complaint tag                              469 non-null    object
 28  Customer ID                                         21321 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(2), object(14)
memory usage: 4.7+ MB

## First Order Identification

To isolate each customer’s first-ever order, the dataset was sorted by `Customer ID` and `Order Placed At`. We then assigned an incremental order number to each transaction per user. Only orders where `order_num == 1` were retained, resulting in a dataset of 11,607 unique first orders.

In [10]:
# Sort orders by customer and order time
df_sorted = df.sort_values(['Customer ID', 'Order Placed At'])

# Assign order number per customer
df_sorted['order_num'] = df_sorted.groupby('Customer ID').cumcount() + 1

# Extract first orders only
df_first = df_sorted[df_sorted['order_num'] == 1].copy()

# Check results
print(f"Unique customers: {df['Customer ID'].nunique()}")
print(f"First orders found: {df_first.shape[0]}")

# Sanity check: preview first orders
df_first[['Customer ID', 'Order Placed At', 'Total']].head()

Unique customers: 11607
First orders found: 11607

,Customer ID,Order Placed At,Total
930,000285ae83ecf06a92b936d4f5b74342edb0e1940e1f00...,2024-09-03 21:41:00,522.90
1173,00062fa202370fdd3076b794ec9358f36e35469bb8e5ff...,2024-09-08 17:43:00,628.95
18086,001ab5fc3ee158b4d22e106897cee9b355e6eed50f163e...,2025-01-10 01:38:00,1332.40
15335,001fdf2511dd137361424c9c15ea54774476691ceec5fa...,2024-12-13 22:26:00,1352.40
6370,002afbd83626f0c699892fcb07b2ddf3858911482647b6...,2024-10-11 18:50:00,796.95

## Simulate A/B/C/D Groups

A simulated A/B test was created by randomly assigning each first-order customer to one of four discount groups: A (0%), B (10%), C (20%), or D (30%). The random seed was fixed to ensure reproducibility. This allows us to evaluate the relative impact of different discount levels on GMV.

In [11]:
# Set random seed for reproducibility
np.random.seed(42)

# Create random group assignment
customers = df_first['Customer ID'].unique()
group_df = pd.DataFrame({
    'Customer ID': customers,
    'group': np.random.choice(['A','B','C','D'], size=len(customers))
})

# Merge group assignment into first orders dataframe
df_first = df_first.merge(group_df, on='Customer ID', how='left')

# Map to readable labels
discount_map = {'A': '0%', 'B': '10%', 'C': '20%', 'D': '30%'}
df_first['group_label'] = df_first['group'].map(discount_map)

# Sanity check: show group counts
df_first['group_label'].value_counts(normalize=True)

group_label
0%     0.253640
10%    0.250625
30%    0.248988
20%    0.246748
Name: proportion, dtype: float64

## EDA Summary
The dataset is now fully prepared for A/B test analysis. We have identified 11,607 first orders, assigned customers to balanced discount groups, and validated all critical fields. This notebook concludes the data preparation phase.